.website {
  max-width: 456px;
  min-height: 46px;
  margin-left: 40px;
  list-style: none;
  margin-right: 0;
  margin-top: 17px;
  padding: 0;
}
@media screen and (max-width: 900px) {
  .website {
    margin-top: 0;
  }
}
