.header {
  display: flex;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 28px;
  font-family: "Inter";
  font-size: small;
  max-width: 1184px;
  min-height: 52px;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}
