.place__title-other {
  max-width: 460px;
  min-height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 48px;
}
@media screen and (max-width: 1023px) {
  .place__title-other {
    max-width: 440px;
  }
}
@media screen and (max-width: 768px) {
  .place__title-other {
    max-width: 340px;
    min-height: 92px;
  }
}
@media screen and (max-width: 320px) {
  .place__title-other {
    max-width: 288px;
    min-height: 35px;
  }
}
